---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
{{ kubeadm_init__init_configuration | to_nice_yaml }}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
{{ kubeadm_init__cluster_configuration | to_nice_yaml }}
{% if kubeadm_init__kubelet_configuration|length > 0 %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
{{ kubeadm_init__kubelet_configuration | to_nice_yaml }}
{% endif %}
{% if kubeadm_init__kube_proxy_configuration|length > 0 %}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
{{ kubeadm_init__kube_proxy_configuration | to_nice_yaml }}
{% endif %}